{% extends "site_base.html" %}
{% load bootstrap_tags %}

{% comment %}
This page will contain content for the master resume.
Content will functionality for user to add all experience
and skill. It will also have a checklist selection to select
skills or experience to transfer over to the custom resume.
{% endcomment %}

{% block body %}

<h2>Skills</h2>
<form method="post" action="">
  {% csrf_token %}
  {{ skill_form | as_bootstrap }}
  <input type="submit" class="btn btn-default">
</form>

{% if skill_form %}
  <li>{{skill.skill_category}}</li>
  <li>{{skill.skill_name}}</li>
{% endif %}

<h2>Work Experience</h2>
<form method="post" action="">
  {% csrf_token %}
  {{ work_form | as_bootstrap }}
  <input type="submit" class="btn btn-default">
</form>

<h2>Education</h2>
<form method="post" action="">
  {% csrf_token %}
  {{ education_form | as_bootstrap }}
  <input type="submit" class="btn btn-default">
</form>

<h2>Volunteer Experience</h2>
<form method="post" action="">
  {% csrf_token %}
  {{ volunteer_form | as_bootstrap }}
  <input type="submit" class="btn btn-default">
</form>

{% endblock %}
