{% extends "site_base.html" %}
{% comment %}
This page will contain content for the master resume.
Content will functionality for user to add all experience
and skill. It will also have a checklist selection to select
skills or experience to transfer over to the custom resume.
{% endcomment %}

{% block body %}

<h2>Skills</h2>
{% comment %}
The skill form will go in this position
{% endcomment %}
<form method="post" action="">
  {% csrf_token %}
  {{ skill_form|bootstrap }}
  <input type="submit" class="btn btn-default">
</form>

<h2>Work Experience</h2>
{% comment %}
The work form will go in this position
{% endcomment %}

<h2>Education</h2>
{% comment %}
The education form will go in this position
{% endcomment %}

<h2>Volunteer Experience</h2>
{% comment %}
The volunteer form will go in this position
{% endcomment %}

{% endblock %}
